<style>
.table{
  display: flex;
  justify-content: center;
}
.box{
  margin: 10px;
}
</style>

<center>

<%= link_to 'Back', root_path %>
<br><br><br>

<div class="table">
  <div class="box">
    <%= render partial: 'plannew', locals: {week: 0} %>
  </div>
  <div class="box">
    <%= render partial: 'plannew', locals: {week: 7} %>
  </div>
</div>

</center>